
a{
text-decoration: none !important;
}

body{
  background: #f0f0f0;
}
.right{
  text-align: right;
}
.hidden{
  display: none;
}
.container-fluid{
  padding: 0;
  margin: 0;
}

.content{
  max-width: 700px;
  margin-top: 10px;
  background: #fff;
  padding: 20px;
}
.header-content{
  max-width: 800px;
}

.header{
  background: #fff;
}
.branding{
  padding: 5px 0px 25px 0;
}
/**/

.post{
  border: 1px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  -moz-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
}

.post-list .item{
  margin-top: 20px;
  border-bottom: 1px solid #f0f0f0;
} 

.highlight{
  display: inline-block;
  background: #dedede;
  padding: 0 10px;
}
.highlight.orange{
  background: #fdd792;
}

.like-btn i{
  color: red;
}

.menu{
  position: relative;
}
.menu ul{
  position: absolute;
      margin-top: -50px;
    margin-left: -21px;
}



.menu li{
  padding: 5px 20px;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  background: #fff;
  margin-right: 5px;
  
}
.menu.like .time{
  -webkit-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  -moz-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
}
.menu.created_at .ranking{
  -webkit-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  -moz-box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
  box-shadow: 1px 2px 2px 0px rgba(181,170,181,1);
}



.twitter-share-button{
  margin-right: 25px;
}

.liked-number{
  color: #7f7d7d;
}

.post-cover{
  cursor: pointer;
  text-align: center;
  color: #337ab7;
}

