<!DOCTYPE html>
<html>
<head>
  <title>なぞかけ.コム</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="description" content="なぞかけ - なぞかけドットコム - “かける！解く！その心は！？” ">

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/normalize.css'%}">

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.min.css'%}">

  <script type="text/javascript" src="{% static 'myapp/js/jquery.min.js'%}"></script>

  <script type="text/javascript" src="{% static 'myapp/bower_components/nprogress/nprogress.js'%}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/bower_components/nprogress/nprogress.css'%}">

  <script type="text/javascript" src="{% static 'myapp/js/jquery.cookie.js'%}"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/common.css'%}">


</head>
<body>
  <div class="container-fluid">
    
  <div class="container-fluid header">
    <div class="header-content container">
      <div class="branding">
        <a href="/">
          <div class="branding-char">な</div>
          <div class="branding-char">ぞ</div>
          <div class="branding-char">か</div>
          <div class="branding-char">け</div>
          <div class="branding-char blur">.</div>
          <div class="branding-char blur">コ</div>
          <div class="branding-char blur">ム</div>
        </a>
      </div>
     

    </div>
    
  </div>

  <div class="content container ">
   <div class="menu">
      <ul class="list-inline menu {{mode}}">
        <li class="time"><a href="/">新着</a></li>
        <li class="ranking"><a  href="/?s=ranking">ランキング</a></li>
      </ul>
    </div>
    
    <div class="post-wrapper">
      <div class="post">
        <div class="post-cover hidden-md hidden-lg">なぞかけを投稿 <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
        <form action="/action/post" class="hidden-xs hidden-sm" method="POST">
          {% csrf_token %}
          <p><input type="text" name="kakeru" placeholder="かける">　とかけて　<input type="text" placeholder="とく" name="toku"> と解きます。</p>
          <p>その心は？　　どちらも　<input type="text" placeholder="こころ" name="kokoro"></p>
          <p class="right">
            <button class="btn btn-primary">投稿</button>
          </p>
        </form>
      </div>
    </div>

    <div class="post-list">
      {% for post in posts %}
          <div class="item" id="{{post.id}}">
            <div class="number {{mode}}">{{ forloop.counter }}</div>
              <p><span class="highlight">{{post.kakeru}}</span>　とかけて　<span class="highlight">{{post.toku}}</span> と解きます。</p>
              <p>その心は？　　どちらも　<span class="highlight orange"> <span class="blur">答えを見る</span><span class="answer hidden">{{post.kokoro}}</span></span></p>
              <p class="right" >
                  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{post.share_text}}"> <i class="fa fa-twitter" aria-hidden="true"></i>Tweet</a>
                  <span class="liked-number" count="{{post.like}}">{{post.like}}</span>
                  <a href="javascript:void(0);" id="{{post.id}}" class="like-btn"><i class="fa fa-heart-o" aria-hidden="true"></i> like</a>
              </p>
            </form>
          </div>
      {% endfor %}
    </div>
    <div class="load-more hidden-md hidden-lg">もっと見る <i class="fa fa-refresh" aria-hidden="true"></i></div>

    <input type="hidden" id="pageMode" value="{{mode}}">
  </div>

  </div>

  <script type="text/javascript" src="{% static 'myapp/js/common.js'%}"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83618382-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>